body, html{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url('./assets/bg_02_h.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
